@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Gotham Pro Light', sans-serif;
}

strong {
    font-weight: 600;
}

.container {
    max-width: 1440px;
    margin: auto;
}

/* Buttons class */
button {
    border-radius: 4px;
    width: 170px;
    height: 32px;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-white:hover {
    background: linear-gradient(#0077B5, #0E6795);
    color: white;
    transition-duration: 1 s;
}

.button-blue:hover {
    background: white;
    color: #18A0FB;
    transition-duration: 1s;
}

.button-white {
    background: white;
    color: #18A0FB;
    border: 1px solid #0275B1;
}

.button-blue {
    background: linear-gradient(#0077B5, #0E6795);
    color: white;
    border: 1px solid #0275B1;
}

/* HEADER */
header {
    background-color: #ffffff;
    box-shadow: 0px 10px 40px rgba(89, 120, 150, 0.06);
}

header>div {
    width: 1440px;
    height: 80px;
    display: flex;
    justify-content: space-evenly;
}

header>div>div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-logo, img, .nav-user-perfil, .footer-logo span, .footer-logo p {
    cursor: pointer;
}

.header-logo {
    padding: 20px 40px;
    border-right: 1px solid #f4f4f4;
}

.header-border {
    border-left: 1px solid #f4f4f4;
    border-right: 1px solid #f4f4f4;
}

header nav ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    float: left;
    padding: 0 20px;
}

header nav ul li img {
    margin-bottom: 12px; 
}

header nav ul li a {
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
    color: #181818;
}

header input {
    width: 367px;
    height: 78px;
    margin: auto 0;
    border-top: 0;
    border-bottom: 0;
    border-left: 1px solid #f4f4f4;
    border-right: 1px solid #f4f4f4;
}

header input::placeholder {
    color: #CECECE;
    font-size: 16px;
    padding-left: 74px;
}

.nav-user-perfil {
    width: 330px;
    height: 80px;
    display: flex;      
}

.nav-user-perfil span {
    font-size: 13px;
    font-weight: 600;
}

.nav-user-perfil p {
    margin-top: 11px;
    font-weight: 300;
}

.nav-user-perfil>span>h3 {
    width: 250px;
    display: flex;
    flex-direction: row;
}

.nav-user-perfil>span>h3>p {
    margin: 0;
    padding-left: 10px;
    color:  rgba(24, 24, 24, 0.2);;
}

.nav-user-perfil>span>p::after {
    content: '';
    display: inline-block;
    background: no-repeat center url(./images/32.png);
    background-size: contain;
    width: 12px;
    height: 12px;
    margin-left: 4px;
}

.nav-user-perfil a {
    color: #02B033;
    font-weight: 800;
}

.nav-user-perfil img {
    margin: 20px 20px;
}

/* HEADER */
/* MAIN */
main,
html,
body {
    background-color: #F7F9FB;
    width: 100%;
}

main {
    display: flex;
}

.container-flex {
    display: flex;
    margin: 30px auto;
}

.coluna-1 {
    width: 70%;
}

.coluna-2 {
    width: 30%;
}

.coluna-1 div,
.coluna-2 div {
    width: 94%;
    background-color: white;
    display: flex;
    padding: 2%;
    margin: 1%;
    margin-top: 0;
    font-size: 14px;
    line-height: 30px;
    border-radius: 4px;
}

.text {
    flex-direction: column;
}

.display-flex-row {
    flex-direction: row;
    align-items: center;
}

.display-flex-column {
    flex-direction: column;
}

h3.section-titulo {
    font-size: 18px !important;
    font-weight: 600;
}

.section p,
.section span,
.section label {
    font-size: 13px !important;
}

.section strong {
    font-size: 15px !important;
}

.coluna-2 {
    min-width: 290px;
}

.coluna-1 {
    min-width: 850px;
}

hr {
    box-shadow: 0px 0px 0px 0px rgb(0 0 0 / 1%);
    width: 94%;
    border-top: 1px;
}

.link {
    text-transform: uppercase;
    font-weight: 600;
    color: #0275B1;
}

/* MAIN */
/* FOOTER */
footer {
    background-color: #F7F9FB;
}

footer>div {
    width: 1440px;
    height: 215px;
    display: flex;
}

footer>div {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

.footer-logo {
    margin-top: 30px;
}

.footer-logo p {
    font-size: 14px;
    font-weight: 700;
    padding: 12px 0 0 0;
}

.footer-logo span {
    color: #0275B1;
}

footer h3 {
    font-size: 12px;
    font-weight: 900;
    padding-bottom: 20px;
    padding-top: 35px;
}

.footer-menu {
    display: flex;
}

.footer-menu ul li {
    padding: 11px 75px 0 0;
}

.footer-menu ul li a {
    font-size: 12px;
    font-weight: 500;
    text-decoration: none;
    color: #000000;
}

.footer-menu ul li a:hover {
    text-decoration: underline;
}

footer button {
    margin: 5px 0;
    padding: 0 15px;
}

footer select {
    background: #FFFFFF;
    color: #181818;
    padding-left: 15px;
    width: 270px;
    height: 32px;
    font-size: 12px;
    font-weight: 700;
    border: 1px solid #F0F0F0;
    border-radius: 4px;
}

footer select:hover {
    background-color: #0077B5;
    color: #f4f4f4;
}