/* NEW POST */
.section-newpost {
    background-color: #ffffff;
    width: 850px;
    height: 135px;
    border: 1px solid black;
}
/* NEW POST */

/* PUBLICACAO 1 */
.section-publicacao1,
.section-publicacao2,
.section-publicacao3,
.section-publicacao4 {
    background-color: #ffffff;
    margin-top: 20px;
    width: 850px;
    height: 285px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

/* PUBLICACAO 1 */

/* PUBLICACAO 2 */
.section-publicacao2 {
    height: 532px;
}

/* PUBLICACAO 2 */

/* PUBLICACAO 3 */
.section-publicacao3 {
    height: 402px;
}

/* PUBLICACAO 3 */

/* PUBLICACAO 4 */
.section-publicacao4 {
    height: 259px;
    border:none
}

.section-publicacao4 > div {
    display: flex;
    justify-content: space-between;
    width: 98%;
    height: 45px;
    align-items: center;
    padding: 0 1%;
    border-bottom: 1px solid #F4F4F4;
}

.section-publicacao4 p{
    font-size: 10px;
}

.section-publicacao4 p span{
    color: #0275B1;
}

.perfil-publicacao{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.section-publicacao4 > div.section-publicacao4-conteudo {
    padding: 3% 3% 1.5%;
    width: 94%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 133px;
}

.section-publicacao4-conteudo > p {
    font-size: 14px;
    text-align: justify;
    margin-top: 18px;
    line-height: 21px;
}

.perfil-publicacao > div{
    margin-left: 10px;
}

.group-actions {
    display: flex;
}

.group-actions div {
    padding: 11px;
}

.group-actions > div{
    border-right:1px solid #F4F4F4;
}

.section-publicacao4-footer {
    font-weight: 600;
    font-size: 12px;
}

.section-publicacao4-footer div:last-child{
    border-left:1px solid #F4F4F4;
    margin-right: 5px;
    padding: 11px;
}

/* PUBLICACAO 4 */

/* ASIDE */
/* PERFIL ASIDE */
.section-perfil-article {
    background-color: #ffffff;
    width: 290px;
    height: 280px;
    border: 1px solid black;
}

.section-perfil-article>img {
    max-width: 100%;
}

.section-perfil-article>div {
    display: flex;    
    flex-direction: column;
    align-items: center;
}

.section-perfil-article>h3 {
    text-align: center;
}

/* PERFIL ASIDE */

/* NEW ARTICLE*/
.section-new-article,
.section-mygroup,
.section-followed,
.section-trendings {
    background-color: #ffffff;
    margin-top: 20px;
    width: 290px;
    height: 75px;
    border: 1px solid black;
}

/* NEW ARTICLE*/

/* MY GROUPS */
.section-mygroup {
    height: 400px;
}

/* MY GROUPS */

/* FOLLOWED */
.section-followed {
    height: 265px;
}

/* FOLLOWED */

/* TRENDINGS */
.section-trendings {
    height: 300px;
}

/* TRENDINGS */
/* ASIDE */